body {
  background-image: url("../images/working.gif");
  background-repeat: none;
  background-size: cover;
}
h1 {
  text-align: center;
  color: white;
}
label {
  text-align: center;
  color: white;
}
